
@{
    ViewData["Title"] = "dayEnd";
}

<div class="text-center">
    <h3 class="display-4">Fin del Grupo</h3>
    <hr />
    <p>A continuación encontrará </p>
    <p style="font-size:larger">Departamento: @ViewData["Departamento"]</p>
    <p style="font-size:larger">Municipio: @ViewData["Municipio"]</p>
    <p style="font-size:larger">Nacional: @ViewData["Nacional"]</p>

    <form asp-action="groupEnd">
        <div class="form-group">
            <input type="submit" value="Siguiente Grupo" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="simEnd">
        <div class="form-group">
            <input type="submit" value="Finalizar Simulación" class="btn btn-danger" />
        </div>
    </form>
    <div>
        <a asp-action="queueList">Lista de Espera</a>
    </div>
    <div>
        <a asp-action="vaccinatedList">Lista de Vacunados</a>
    </div>
</div>

