@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Covid-19 en Guatemala</h1>
    <br /><h4>Aprenda más del covid en Guatemala y de su situación actual en este <a href="https://tablerocovid.mspas.gob.gt/">link</a>.
    <br />Recuerde cuidarse siempre y a los suyos.</h4>
    <img src="https://i0.wp.com/digessp.gob.gt/wp-content/uploads/2021/02/covid-19-2-1-scaled.jpg?fit=2560%2C1978&ssl=1" height= 645px/>
</div>
