@{
    ViewData["Title"] = "個人情報保護方針 (⁄ ⁄•⁄ω⁄•⁄ ⁄)";
}
<h1>@ViewData["Title"]</h1>
<div style="background-image: url(https://3.bp.blogspot.com/-PTOIlBYoKkw/V3s3kTgXwTI/AAAAAAAABps/SFzJ8BBfjkomMcAcRyQmtGdq4IpYuS4QwCLcB/s320/community_image_1382599806.gif)">
    <h2 class="text-white">Esta página es secreta, usted no debería de estar aquí.</h2>
    <h3 class="text-white">Ahora nos tiene que poner 100 UwU</h3>
    <div class="text-center text-white">
        <marquee direction="right">Esta aplicación está corriendo desde su computadora. Trate de que no escape :)</marquee>
        <img srcset="https://pbs.twimg.com/media/EzCdd8sVkAA0u6-.jpg" />
    </div>
</div>