@model Proyecto_ED1.Models.Pacient

@{
    ViewData["Title"] = "SearchN";
}

<h1>Busqueda por DPI/Partida de nacimiento</h1>

<h4>Jugador</h4>
<hr />
<div class="text-center">
    <p style="font-size:larger; color:red">@ViewData["Error"]</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchN">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CUI" class="control-label"></label>
                <input asp-for="CUI" class="form-control" />
                <span asp-validation-for="CUI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar Paciente" class="btn btn-primary float-left" />
            </div>
        </form>

    </div>
</div>
