
@{
    ViewData["Title"] = "simEnd";
}

<div class="text-center">
    <h3 class="display-4">Fin de la Simulación</h3>
    <hr />
    <p>A continuación encontrará </p>
    <p style="font-size:larger">Departamento: @ViewData["Departamento"]</p>
    <p style="font-size:larger">Municipio: @ViewData["Municipio"]</p>
    <p style="font-size:larger">Nacional: @ViewData["Nacional"]</p>

    <form asp-action="simEnd">
        <div class="form-group">
            <input type="submit" value="Finalizar Simulación" class="btn btn-danger" />
        </div>
    </form>
</div>


