@model Proyecto_ED1.Models.Pacient

@{
    ViewData["Title"] = "simIndex";
}

<script type="text/javascript" src="~/js/State_City.js"></script>
<div class="text-center">
    <h3 class="display-4">Selección de Simulación</h3>
    <hr />
    <p class="text-center"> A continuación encontrará un formulario para ingresar la información requerida para iniciar la simulación.</p>
    <p style="font-size:larger; color:yellowgreen">@ViewData["Success"]</p>
    <p style="font-size:larger; color:red">@ViewData["Error"]</p>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="simIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <select asp-for="Departamento" name="departamento" class="form-select" onchange="set_City(this, municipio)">
                    <option value=""></option>
                    <script type="text/javascript">
                        setState(this);
                    </script>
                </select>
                <span asp-validation-for="Departamento" class="text-danger text-left"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <select class="form-select" asp-for="Municipio" name="municipio" disabled="disabled" onchange="print_city_state(departamento, this)"></select>
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Simulación" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al Inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}